<div class="page-width container" id="content">
  <div class="collection-header">
    <h1 class="page-title">{{ collection.title }}</h1>
  </div>
 
  {% if collection.products_count > 0 %}
  <div id="filter-wrapper" data-items="{{ collection.all_products_count }}">
    <div id="filter-app"></div>
  </div>
  {% endif %}
</div>
